.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  min-height: 60vh;
}

.list {
  width: 100%;
  max-width: 720px;
}

.item {
  padding: 12px 0;
}

.text {
  font-size: 16px;
  line-height: 22px;
  color: #151515;
  margin-bottom: 8px;
}

.time {
  font-size: 12px;
  line-height: 16px;
  color: #7a7a7a;
}

.separator {
  margin-top: 12px;
  height: 1px;
  width: 100%;
  background-color: #e5e5e5;
}

.empty {
  text-align: center;
  color: #7a7a7a;
  padding: 24px 0;
}


